.register-step2 {
  height: 100%;
  .item {
    margin-bottom: 32px;
    .caption {
      margin-bottom: 24px;
      color: rgb(160, 159, 159);

      ul {
        padding-left: 24px;
      }
    }
  }
}


::ng-deep {
  .dx-fileuploader-wrapper {
      padding: 0 !important;
  }
  .dx-texteditor-label {
      font-weight: 500;
  }
  .required {
      .dx-texteditor-label {
          .dx-label {
              span::after {
                  content: "*";
                  color: red;
                  margin-left: 4px;
              }
          }
      }
  }
}
