<div id="login">
    <div class="login-form shadow">
        <div class="form-header"></div>

        <div style="
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 24px;
        color: #008dd2;
      ">
            Đăng nhập
        </div>

        <div class="form-content">
            <div class="row-item email">
                <mat-form-field appearance="fill">
                    <mat-label>Tài khoản hoặc địa chỉ email <span style="color: red">*</span></mat-label>
                    <input #email type="email" matInput [(ngModel)]="userCred.userName" (keyup)="loginByEnter($event)" />
                </mat-form-field>
            </div>

            <div class="row-item password">
                <mat-form-field appearance="fill">
                    <mat-label>Mật khẩu <span style="color: red">*</span></mat-label>
                    <input #password type="password" matInput [(ngModel)]="userCred.password" (keyup)="loginByEnter($event)" />
                </mat-form-field>
            </div>

            <div class="row-item forgot-password">
                <a [routerLink]="['/' + Routing.LOGIN.path]" (click)="Utility.featureIsDeveloping($event)">Quên mật khẩu?</a>
            </div>

            <div class="row-item login-btn">
                <aws-button #loginBtn text="Đăng nhập" ngClass="full-width" (onClick)="login($event)" [height]="48">
                </aws-button>
                <!-- <div #googleBtn id="googleBtn"></div> -->
            </div>

            <div class="row-item have-no-account" style="margin-top: 16px; text-align: center">
                <p>
                    Chưa có có tài khoản?
                    <a [routerLink]="['/' + registerUrl]" class="register-text">Đăng ký</a>
                </p>
            </div>
        </div>
        <!-- <div class="form-footer">Copyright ©2022 SWE Team</div> -->
    </div>
</div>
