/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: monospace, Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-size: 13px;
}

button {
    outline: none !important;
}

.dis-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    transition: all 1s;
    overflow-y: auto;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 156, 156);
}